<h2>Tour {{currentTour.name}}</h2>

<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.css" />

<ngb-carousel *ngIf="currentTour">
    <ng-template ngbSlide *ngFor="let item of currentTour; index as i">
        <!-- Vorerst nicht wichtig
        <div class="picsum-img-wrapper">
          <img [src]="images[0]" alt="Random first slide">
        </div> -->
        <div class="carousel-caption" >
          <p>{{ item.areas[i].name }}</p>
        </div>
      </ng-template>
</ngb-carousel>
