<div class="header">
  <h2>Tour {{currentTour.name}}</h2>
  <span class="fill-remaining-space"></span>
  <p style="display: inline;">{{ currentTour.date | date:'dd.LL.yyyy HH:mm' }}</p>
</div>

<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.css" />

<!-- <button (click)="SlideClick()">Testen!</button> -->

    <ngb-carousel *ngIf="currentTour">
      <!-- Looping through Areas -->
      <div *ngFor="let t of currentTour.areas;">
        <!-- Looping through Stations -->
        <div *ngFor="let tt of t.stations;">
          <!-- Looping through Media -->

          <ng-template ngbSlide *ngFor="let ttt of tt.media; index as i">
            <!-- In case of a text: -->
            <!-- Design-Technisch noch einiges an Problemen -->
            <div *ngIf="ttt.type === 'text'">
              <div class="picsum-img-wrapper">
                <img src="assets\images\textHintergrund.png" alt="bild">
              </div>
              <div class="carousel-caption">
                <p>{{ ttt.text }}</p>
              </div>
            </div>
            <!-- In case of a picture: -->
            <div *ngIf="ttt.type === 'image'">
              <div class="picsum-img-wrapper">
                <img src="{{currentTour.completePath + ttt.path}}" alt="bild">
              </div>
            </div>
            <!-- In case of a video: -->
            <div *ngIf="ttt.type === 'video'">
              <div class="picsum-img-wrapper">
                <video autoplay src= "{{currentTour.completePath + ttt.path}}" alt="video"></video>
              </div>
            </div>
          </ng-template> <!-- End Media -->
        </div> <!-- End Stations -->
      </div> <!-- End Areas -->
    </ngb-carousel>

<div class="footer">
  <p class="area">Area: {{ curr_area + 1 }} / {{ vorh_areas }}</p>
  <p class="station">Station: {{ curr_station + 1 }} / {{ vorh_stations }}</p>
  <p class="medium">Media: {{ curr_media + 1 }} / {{ vorh_media }}</p>
</div>
<span class="fill-remaining-space"></span>
<div class="time">
  <p class="timep">{{ Timer() }}</p>
</div>