.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

span {
  margin-right: 15px;
}

a {
  color: white;
  text-decoration: none;
}

mat-toolbar {
  background-color: skyblue;
  height: 100px;
}

img{
  height: 100px;
  width: auto;
}