$hm_blue: rgb(0 85 151);
$hm_darkgray: rgb(112 113 115);
$hm_gray: rgb(194 195 196);
$hm_lighgray: rgb(236 236 237);

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

span {
  margin-right: 15px;
}

a {
  color: $hm_darkgray;
  text-decoration: none;
}

mat-toolbar {
  background-color: white;
  height: 80px;
}

.logo{
  height: 70px;
  width: auto;
}

.icon {
  height: 30px;
  width: auto;
}